# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Additions

##### Using 'or' in if statements

In [1]:
x = 2
y = 3
z = 4

if x == 2 or y == 10:
    print('True')

True

##### Using 'and' in if statements

In [2]:
if x == 2 and y == 10:
    print('True')

##### Using both 'or' and 'and' in if statements

In [4]:
if x == 2 and (y == 10 or z == 1):
    print('True')

### String Manipulation

##### .lstrip()

In [7]:
name = '   clay  '
name = name.lstrip()
name

'clay  '

##### .rstrip()

In [8]:
name.rstrip()

'clay'

##### .strip()

In [10]:
'        asdas   sdsd      '.strip()

'asdas   sdsd'

##### .title()

In [11]:
'sad sd d dsa sad a'.title()

'Sad Sd D Dsa Sad A'

In [14]:
'sad sd d dsa sad a'.capitalize()

'Sad sd d dsa sad a'

### String Exercise
#### strip all white spaces and capitilize every name in list

In [13]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

new_name = []
for name in names:
    new_name.append(name.lower().strip().title())
print(new_name)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [16]:
a_list = [4,4,3,7,54,7,8,9]
min(a_list)

3

##### max()

In [17]:
max(a_list)

54

##### sum()

In [18]:
sum(a_list)

96

##### sorted()

In [19]:
sorted(a_list)

[3, 4, 4, 7, 7, 8, 9, 54]

In [21]:
print(a_list.sort())

None

##### Copying a List

In [22]:
list_1 = [1,2,3,4,5]
list_2 = list_1[:] #shallow copy
list_2 = list_1 # deep copy

##### 'in' keyword

In [23]:
2 in list_1

True

##### 'not in' keyword

In [24]:
2 not in list_1

False

In [25]:
's' in 'super'

True

##### Checking an Empty List

In [29]:
empty = []

if empty:
    print('not empty')
else:
    print('empty')

empty

##### Removing Instances with a Loop

In [30]:
a_list = ['conner', 'conner', 'conner','evan','max','evan']
while 'conner' in a_list:
    a_list.remove('conner')
print(a_list)

['adam', 'jordan']

### Remove duplicate in a list

In [32]:
a_list = ['conner', 'conner', 'conner','evan','max','evan']

def remove_dup(a_list):
    a_list = sorted(a_list)
    out = [a_list[0]]
    n = len(a_list)
    for i in range(1,n-1):
        if a_list[i] != a_list[i + 1]:
            out.append(a_list[i + 1])
    return out

remove_dup(a_list)

['conner', 'evan', 'max']

In [33]:
def remove_dup_2(a_list):
    a_list = sorted(a_list)
    n = len(a_list)
    out = [a_list[0]]
    left = 0
    right = 1
    while right < n:
        if a_list[left] != a_list[right]:
            out.append(a_list[right])
            left = right
        right += 1
    return out

remove_dup_2(a_list)

['conner', 'evan', 'max']

In [35]:
list_nums = [2,3,4,54,3,1,2,4,5,56,4,'conner', 'conner', 'conner','evan','max','evan',1,3,7,2,4,5,66,5,23,43,2]
remove_dup_2(list_nums)

TypeError: '<' not supported between instances of 'str' and 'int'

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [42]:
my_list = [[x * y for x in range(10)] for y in range(10)]
my_list

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [ ]:
my_list = [[x for x in range(10)] for y in range(10)]

In [44]:
# number comprehension
my_list = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# square number comprehension
my_list = [x**2 for x in range(10)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
# string comprehension
names = ['conner', 'conner', 'conner','evan','max','evan']

my_list = [name.upper() for name in names]

my_list

['CONNER', 'CONNER', 'CONNER', 'EVAN', 'MAX', 'EVAN']

[x+1 if x >= 45 else x+5 for x in l]

In [54]:
# using the 'if' statement
my_list = [x**2 if x <= 5 else x**3 for x in range(10)]
my_list

[0, 1, 4, 9, 16, 25, 216, 343, 512, 729]

In [55]:
# using multiplication outside the list
my_list = [x**2 for x in range(10) if x < 5] * 2
my_list

[0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

### List comprehension exercise
#### create grid 5 by 5 with alternating 0 and 1

In [51]:
my_list = [[(x+y)%2 for x in range(5)] for y in range(5)]
my_list

[[0, 1, 0, 1, 0],
 [1, 0, 1, 0, 1],
 [0, 1, 0, 1, 0],
 [1, 0, 1, 0, 1],
 [0, 1, 0, 1, 0]]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [64]:
my_tuple = (4,7,5,6,3,8,2,1)
my_tuple

(4, 7, 5, 6, 3, 8, 2, 1)

##### sorted()

In [65]:
sorted(my_tuple)

[1, 2, 3, 4, 5, 6, 7, 8]

In [67]:
my_tuple = (4,7,5,'6',3,'apple',8,2,1)
my_tuple

(4, 7, 5, '6', 3, 'apple', 8, 2, 1)

In [68]:
my_tuple = (4,7,[2,34,5,6],'6',3,'apple',8,2,1)
my_tuple

(4, 7, [2, 34, 5, 6], '6', 3, 'apple', 8, 2, 1)

## Functions

##### User-Defined vs. Built-In Functions

In [70]:
# range() = built-in
def sum_numbers():
    return 2+2

sum_numbers()

4

##### Accepting Parameters

In [73]:
# order matters
# can take in any type of variable
def sum_numbers(a,b):
    return a+b

sum_numbers(4,5)

TypeError: sum_numbers() takes 2 positional arguments but 3 were given

##### Default Parameters

In [75]:
# name='connor'
def sum_numbers(a,b, c = 10):
    return (a+b) % c

sum_numbers(4,5,)

9

##### Making an Argument Optional

In [79]:
# name=''
C

sum_numbers(4,5,5)

4

##### Keyword Arguments

In [ ]:
# name='Connor'

##### Returning Values

##### *args

In [82]:
def sum_numbers(*nums):
    return sum(nums)

sum_numbers(4,5,5,5,5)

24

##### Docstring

In [83]:
def sum_numbers(*nums):
    '''
    This is a function
    '''
    return sum(nums)

help(sum_numbers)

Help on function sum_numbers in module __main__:

sum_numbers(*nums)
    This is a function

##### Using a User Function in a Loop

### Function exercise
#### write a function that loops through a list of first name and last name, combine this two into full name.

In [110]:
first_name = ['Connor', 'Evan', 'Jordan', 'Max', 'kj;kl']
last_name = ['Milliken', 'Smith', 'Williams', 'Bell']

def full_name(first_list, last_list):
    '''
        param:  two lists - list of first name and list of last name
        return: a list of full name
    '''
    len_first = len(first_list)
    len_last = len(last_list)
    
    if len_first < len_last:
        for i in range(len_last - len_first):
            first_list.append('______')
    else:
        for i in range(len_first - len_last):
            last_list.append('______')
    
    out = []
    for i in range(len(first_list)):
        out.append(first_list[i] + ' ' + last_list[i])
    return out

full_name(first_name, last_name)

['Connor Milliken',
 'Evan Smith',
 'Jordan Williams',
 'Max Bell',
 'kj;kl ______']

In [132]:
first_name = ['Connor', 'Evan', 'Jordan', 'Max']
last_name = ['Milliken', 'Smith', 'Williams', 'Bell']

def full_name_2(first_list, last_list):
    '''
        param:  two lists - list of first name and list of last name
        return: a list of full name
    '''
    return [name1 + ' ' + name2 for (name1, name2) in zip(first_name, last_name)] 

full_name_2(first_name, last_name)

['Connor Milliken', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [102]:
help(full_name)

Help on function full_name in module __main__:

full_name(first_list, last_list)
    param:  two lists with same size - list of first name and list of last name
    return: a list of full name

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [46]:
# placement of variable declaration matters

# Exercises

## Exercise 1 <br>
<p>Write a function that performs a bubble sort<br><i><b>Hint: in place assignment is 'num[x], num[x+1] = num[x+1], num[x]'</b></i></p>

In [115]:
#nums = [10,8,9,6,7,8,6,5,4,3,2]
nums = [10,9,8,7,7,7,7,6,5,4,3,2,1,0]

def bubble_sort(nums):
    
    n = len(nums)
    
    for j in range(n-1):
        for i in range(n-1):
            if nums[i] > nums[i + 1]:
                nums[i], nums[i + 1] = nums[i + 1], nums[i]
            elif nums[i] < nums[i + 1]:
                continue
                
    return nums

bubble_sort(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 8, 9, 10]

In [117]:
nums = [10,9,8,7,7,7,7,6,5,4,3,4,5,2,1,0]



def bubble_sort_2(nums):
    '''
    param: a list a number
    return: a sorted list (ascending)
    '''
    n = len(nums)
    while True:
        swap = False
        for i in range(n-1):
            if nums[i] > nums[i + 1]:
                nums[i], nums[i + 1] = nums[i + 1], nums[i]
                swap = True
            elif nums[i] < nums[i + 1]:
                continue
        if swap == False:
            return nums
            break

bubble_sort(nums)

[0, 1, 2, 3, 4, 4, 5, 5, 6, 7, 7, 7, 7, 8, 9, 10]

In [130]:
a_list = [5,4,3,2,1,0]

n = len(a_list)
print(n)

loop = list(range(n-1))
print(loop)

i = loop[-1]
print(i)

a_list[i] > a_list[i+1]

6
[0, 1, 2, 3, 4]
4

True

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [131]:
list_1 = [3,4,5,23,1,2,3,67]
list_2 = [76,34,56,2,3,4,5,11]

def merge_and_sort(list_1, list_2):
    return sorted(list_1 + list_2)


merge_and_sort(list_1, list_2)

[1, 2, 2, 3, 3, 3, 4, 4, 5, 5, 11, 23, 34, 56, 67, 76]

## Exercise 3 <br>
<p> Ask the user to input a number and check if that number is prime using a function, loop until they no longer want to check a number.<br><b><i>Hint: Use yesterday's prime number code</i></b></p>

In [4]:
def check_prime(num):
    if num == 0 or num == 1:
        return False
    for i in range(2,num):
        if num%i == 0:
            return False
        else:
            continue
    return True

def keep_checking():
    keep_going = True
    while keep_going:
        
        # keep asking for a number until input is a number
        is_num = False
        while not is_num:
            try:
                num = int(input('Input a number to check if it\'s prime: '))
                is_num = True
                if is_num:
                    if check_prime(num):    
                        print('{} is a prime number.'.format(num))
                    else:
                        print('{} is not a prime number.'.format(num))
            except:
                print('Please re-enter, make sure it\'s a integer number!')
                
        # keep asking for input until get a 'n' or 'y'
        is_n_or_y = False    
        while not is_n_or_y:
            try:
                is_n_or_y = str(input('Do you want to continue? Enter y or n: '))
                if is_n_or_y.lower() == 'n':
                    is_n_or_y = True
                    print('Bye!')
                    keep_going = False
                elif is_n_or_y.lower() == 'y':
                    is_n_or_y = True
                else:
                    print('Please enter y or n!')
            except:
                print('Please enter y or n!')

keep_checking()

Input a number to check if it's prime: 33535
33535 is not a prime number.
Do you want to continue? Enter y or n: y
Input a number to check if it's prime: asddas
Please re-enter, make sure it's a integer number!
Input a number to check if it's prime: sdg
Please re-enter, make sure it's a integer number!
Input a number to check if it's prime: 3232423
3232423 is a prime number.
Do you want to continue? Enter y or n: n
Bye!

In [10]:
45%1 == 0.00

True

## Exercise 4 <br>
<p>Ask the user to input a number of rows they'd like to build a pyramid to... then build a pyramid to that specific number of rows.<br><b><i>Hint: Use the pyramid code from yesterday and throw it into a function</i></b></p>

In [5]:
def x_pyramid(n):
    num_slot = n*2 - 1 
    for i in range(n):
        x_list = [' '] * num_slot
        start = num_slot//2 - i
        end = start + i*2 + 1
        for j in range(start, end, 2):
            x_list[j] = 'X'
        x_string = ''.join(x_list)
        print(x_string)
        
x_pyramid(20)

                   X
                  X X
                 X X X
                X X X X
               X X X X X
              X X X X X X
             X X X X X X X
            X X X X X X X X
           X X X X X X X X X
          X X X X X X X X X X
         X X X X X X X X X X X
        X X X X X X X X X X X X
       X X X X X X X X X X X X X
      X X X X X X X X X X X X X X
     X X X X X X X X X X X X X X X
    X X X X X X X X X X X X X X X X
   X X X X X X X X X X X X X X X X X
  X X X X X X X X X X X X X X X X X X
 X X X X X X X X X X X X X X X X X X X
X X X X X X X X X X X X X X X X X X X X

## Exercise 5 <br>
<p>Create a calculator using functions that asks for two numbers and performs a calculation that the user inputs... Loop until the user chooses not to perform any more calculations.<br><b><i>Hint: Take yesterday's code from the extra exercise...</i></b></p>

In [2]:
def calculator():
    keep_going = True
    while keep_going:
        
        is_num1_number = False
        while not is_num1_number:
            try:
                num1 = float(input('Enter first number: '))
                is_num1_number = True
            except:
                print('Please enter a number!')
                
        is_num2_number = False
        while not is_num2_number:
            try:
                num2 = float(input('Enter second number: '))
                is_num2_number = True
            except:
                print('Please enter a number!')
                
        is_operation = False
        operation_list = ['+', '-', '*', '/', '%']
        while not is_operation:
            try:
                operation = str(input('Enter a operation from +, -, *, /, %: '))
                if operation not in operation_list:
                    print('Please pick from +, -, *, /, %')
                else:
                    is_operation = True
                    if operation == '+':
                        ans = num1 + num2
                        print('{} {} {} = {}'.format(num1, operation, num2, ans))
                    elif operation == '-':
                        ans = num1 - num2
                        print('{} {} {} = {}'.format(num1, operation, num2, ans))
                    elif operation == '*':
                        ans = num1 * num2
                        print('{} {} {} = {}'.format(num1, operation, num2, ans))
                    elif operation == '/':
                        ans = num1 / num2
                        print('{} {} {} = {}'.format(num1, operation, num2, ans))
                    elif operation == '%':
                        ans = num1 % num2
                        print('{} {} {} = {}'.format(num1, operation, num2, ans))
            except:
                print('Please pick from +, -, *, /, %')
            
        is_n_or_y = False
        while not is_n_or_y:
            try:
                keep_going = str(input('Do you want to continue? y or n:  '))
                if keep_going.lower() == 'n':
                    is_n_or_y = True
                    print('Bye!')
                    keep_going = False
                elif keep_going.lower() == 'y':
                    is_n_or_y = True
                else:
                    print('Please enter y or n!')
            except:
                print('Please enter y or n!')
            
calculator()

Enter first number: 44
Enter second number: 55
Enter a operation from +, -, *, /, %: +
44.0 + 55.0 = 99.0
Do you want to continue? y or n:  n
Bye!